<div class="container-fluid">
  <div class="row row1">
    <div class="left">
      <div class="pulse">
        <img src="./assets/Storage/Upload/banner/lienhe.png" alt="">
      </div>

      <div class="list_icon_contact">
        <ul>
          <li title="facebook"><a target="_blank" href="{{data.linkSocial.facebook}}"><i  class="fab fa-facebook-f"></i></a>
            <span>Liên hệ qua Facebook</span>
          </li>
          <li title="messenger"><a target="_blank" href="{{data.linkSocial.messenger}}"><i title="messenger" class="fab fa-facebook-messenger"></i></a>
            <span>Nhắn tin qua Messenger</span></li>
          <li title="zalo"><a target="_blank" href="{{data.linkSocial.zalo}}"><img src="./assets/Storage/Upload/icon/zalo_icon.png" alt=""></a>
            <span>Nhắn tin qua Zalo</span></li>
          <li title="map"><a target="_blank" href="{{data.linkSocial.map}}"><i class="fas fa-map-marker-alt"></i></a>
            <span>Chỉ đường bản đồ</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
